<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cadastro de Usuários</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
	<link rel="stylesheet" href="libs/sweetalert2/sweetalert2.css">
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="app">
<div class="wrapper" ng-controller="UserController" ng-init="init()">

	<!-- Main Header -->
	<header class="main-header">

		<!-- Logo -->
		<a href="index2.html" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini">HCR</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg">HCR</span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account Menu -->
					<li class="dropdown user user-menu">
						<!-- Menu Toggle Button -->
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<!-- The user image in the navbar-->
							<img src="dist/img/avatar5.png" class="user-image" alt="User Image">
							<!-- hidden-xs hides the username on small devices so only the image appears. -->
							<span class="hidden-xs">Heitor C. R.</span>
						</a>
						<ul class="dropdown-menu">
							<!-- The user image in the menu -->
							<li class="user-header">
								<img src="dist/img/avatar5.png" class="img-circle" alt="User Image">

								<p>
									Heitor C. R. - Web Developer
									<small>Membro desde Abr. 2018</small>
								</p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="row">
									<div class="col-xs-4 text-center">
										<a href="#">Followers</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Sales</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Friends</a>
									</div>
								</div>
								<!-- /.row -->
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Perfil</a>
								</div>
								<div class="pull-right">
									<a href="#" class="btn btn-default btn-flat">Sair</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- Sidebar user panel (optional) -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="dist/img/avatar5.png" class="img-circle" alt="User Image">
				</div>
				<div class="pull-left info">
					<p>Heitor C. R.</p>
					<!-- Status -->
					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>

			<!-- Sidebar Menu -->
			<ul class="sidebar-menu" data-widget="tree">
				<li class="header">MENU</li>
				<!-- Optionally, you can add icons to the links -->
				<li class="active"><a href="#"><i class="fa fa-users"></i> <span>Usuários</span></a></li>
			</ul>
			<!-- /.sidebar-menu -->
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Usuários
				<small>Gerenciamento de usuários do sistema</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Usuários</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content container-fluid">

			<div class="row">
				<div class="col-md-8">

					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Lista de Usuários</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-striped">
								<thead>
									<tr>
										<th style="width: 10px">Foto</th>
										<th>Nome			</th>
										<th>E-mail			</th>
										<th>Admin			</th>
										<th>Data de Nasc.	</th>
										<th>Ações			</th>
									</tr>
								</thead>
								<tbody id="table-users">
									<tr ng-repeat="(index, user) in listUsers">
										<td ng-if="user.photo"	><img src="{{user.photo}}" 			alt="User Image" class="img-circle img-sm">	</td>
										<td ng-if="!user.photo"	><img src="dist/img/boxed-bg.jpg" 	alt="User Image" class="img-circle img-sm">	</td>
										<td>{{user.name			| reduceNameFilter	}}															</td>
										<td>{{user.email							}}															</td>
										<td>{{user.admin		| admFilter			}}															</td>
										<td>{{user.birth		| dateFormat		}}															</td>
										<td>
											<a class="btn btn-warning btn-xs"	ng-click="changeFormStatus(user)"	>Editar</a>
											<a class="btn btn-danger btn-xs"	ng-click="deleteUser(index, user)"	>Excluir</a>
										</td>
									</tr>
																	 
									
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->
					</div>

				</div>
				<div class="col-md-4">

					<div class="row">
					
						<!-- ./col -->
						<div class="col-xs-6">
							<!-- small box -->
							<div class="small-box bg-green">
								<div class="inner">
									<h3 id="number-users">{{typeUsers.commonUser}}</h3>
					
									<p>Usuários</p>
								</div>
								<div class="icon">
									<i class="ion ion-person-add"></i>
								</div>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-xs-6">
							<!-- small box -->
							<div class="small-box bg-yellow">
								<div class="inner">
									<h3 id="number-users-admin">{{typeUsers.admin}}</h3>
					
									<p>Administradores</p>
								</div>
								<div class="icon">
									<i class="ion ion-pie-graph"></i>
								</div>
							</div>
						</div>
						<!-- ./col -->
					</div>

					<div class="box box-success" ng-if="formStatus.adding">
						<div class="box-header with-border">
							<h3 class="box-title">Novo Usuário</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" id="form-user-create">
							<div class="box-body">
								<div class="form-group">
									<label for="exampleInputName">Nome</label>
									<input type="text" required class="form-control" id="exampleInputName" placeholder="Digite o nome do usuário" name="name" ng-model="userObj.adding.name">
								</div>
								<div class="form-group">
									<label>Gênero</label>
									<select class="form-control" id="exampleInputGender" name="gender" ng-model="userObj.adding.gender">
										<option value="M"> Masculino	</option>
										<option value="F"> Feminino		</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputBirth">Nascimento</label>
									<input type="date" required class="form-control" id="exampleInputBirth" name="birth" ng-model="userObj.adding.birth">
								</div>
								<div class="form-group">
									<label for="exampleInputState">Estado</label>
									<select class="form-control" id="exampleInputState" name="state" ng-model="userObj.adding.state" ng-options="state.nome as state.nome for state in states | orderBy : 'nome'">
										<option value="" selected="selected">Selecione um Estado</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">E-mail</label>
									<input type="email" required class="form-control" id="exampleInputEmail" placeholder="Digite o e-mail" name="email" ng-model="userObj.adding.email">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Senha</label>
									<input type="password" required class="form-control" id="exampleInputPassword" placeholder="Crie uma senha" name="password" ng-model="userObj.adding.password">
								</div>
								<div class="form-group" ng-hide="photo">
									<label>Foto</label>
									<input type="file" id="addingPhoto" name="addingPhoto" ng-model="userObj.adding.photo" ng-click="changePhotoButton()">
								</div>
								<div class="form-group" ng-show="photo">
										<button type="button" class="btn btn-success" ng-click="getPhoto('A')"		>Salvar Foto	</button>
										<button type="button" class="btn btn-danger" ng-click="changePhotoButton()"	>Alterar Foto	</button>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" id="exampleInputAdmin" name="admin" ng-model="userObj.adding.admin"> Administrador
									</label>
								</div>
							</div>
							<!-- /.box-body -->          
							<div class="box-footer">
								<button type="submit" class="btn btn-success" ng-click="validSave()">Salvar</button>
							</div>
						</form>
					</div>

					<div class="box box-primary" ng-if="formStatus.editing">
						<div class="box-header with-border">
							<h3 class="box-title">Editar Usuário</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" id="form-user-update">
							<div class="box-body">
								<div class="form-group">
									<label for="exampleInputName">Nome</label>
									<input type="text" required class="form-control" id="exampleInputName" placeholder="Digite o nome do usuário" name="name" ng-model="userObj.editing.name">
								</div>
								<div class="form-group">
									<label>Gênero</label>
									<div class="radio">
										<label for="exampleInputGenderM">
											<input type="radio" id="exampleInputGenderM" name="gender" ng-model="userObj.editing.gender" value="M" checked> Masculino
										</label>
									</div>
									<div class="radio">
										<label for="exampleInputGenderF">
											<input type="radio" id="exampleInputGenderF" name="gender" ng-model="userObj.editing.gender" value="F"> Feminino
										</label>
									</div>
								</div>
								<div class="form-group">
									<label for="exampleInputBirth">Nascimento</label>
									<input type="date" class="form-control" id="exampleInputBirth" name="birth" ng-model="userObj.editing.birth">
								</div>
								<div class="form-group">
									<label for="exampleInputCountry">País</label>
									<select class="form-control" id="exampleInputState" name="state" ng-model="userObj.editing.state"
										ng-options="state.nome as state.nome for state in states | orderBy : 'nome'">
										<option value="" selected="selected">Selecione um Estado</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">E-mail</label>
									<input type="email" required class="form-control" id="exampleInputEmail" placeholder="Digite o e-mail" name="email" ng-model="userObj.editing.email">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Senha</label>
									<input type="password" required class="form-control" id="exampleInputPassword" placeholder="Crie uma senha" name="password" ng-model="userObj.editing.password">
								</div>
								<div class="form-group" ng-hide="photo">
									<label>Foto</label>
									<input type="file" id="editingPhoto" name="editingPhoto" ng-model="userObj.editing.photo"
										ng-click="changePhotoButton()">
								</div>
								<div class="form-group" ng-show="photo">
									<button type="button" class="btn btn-success" ng-click="getPhoto('E')">Salvar Foto </button>
									<button type="button" class="btn btn-danger" ng-click="changePhotoButton()">Alterar Foto </button>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" name="admin" ng-model="userObj.editing.admin" id="exampleInputAdmin"> Administrador
									</label>
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" ng-click="validUpdate()"		class="btn btn-primary"				>Salvar</button>
								<button type="button" ng-click="changeFormStatus()"	class="btn btn-default btn-cancel"	>Cancelar</button>
							</div>
						</form>
					</div>

				</div>
			</div>

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer">
		<!-- To the right -->
		<div class="pull-right hidden-xs">
			<a target="_blank" href="https://www.hcode.com.br">Hcode</a>
		</div>
		<!-- Default to the left -->
		Projeto desenvolvido no curso online de JavaScript da Hcode Treinamentos.
	</footer>

</div>

// Components
<script src="bower_components/angular/angular.js">  		</script>																				
<script src="libs/sweetalert2/sweetalert2.all.min.js">		</script>

// Core
<script src="core/module.js">								</script>
<script src="core/constants.js">							</script>
<script src="core/SweetAlert.js">							</script>
<script src="core/filters.js">								</script>

// Factories
<script src="factories/states.js">							</script>

// Class
<script src="classes/Utils.js">								</script>
<script src="classes/Fetch.js">								</script>
<script src="classes/Error.js">								</script>
<script src="classes/Validations.js">						</script>

// Models
<script src="models/User.js">								</script>

// Controllers
<script src="controllers/UserController.js" >				</script>

</body>
</html>